@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@400;700&display=swap");

body {
  background-color: #fafafa;
}

.nav-desktop {
  display: none;
}

.footer-desktop {
  display: none;
}

.current-page:after {
  content: "";
  background: url(../images/separator.png) no-repeat center;
  background-size: cover;
  width: 80px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 45px;
  margin-left: -85px;
  transform: translateY(50%) translateX(20%);
}

.social-links-mobile {
  height: 30px;
  display: flex;
}
.social-links-mobile a {
  margin-left: 15px;
}

.twitter-icon {
  background: url("../images/twitter.png") no-repeat center;
}
.facebook-icon {
  background: url("../images/facebook.png") no-repeat center;
}
.instagram-icon {
  background: url("../images/instagram.png") no-repeat center;
}

/* loaded */
.loader {
  border: 8px solid lightgray;
  border-top: 8px solid #e2a89c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  top: 30%;
  position: absolute; /* para nao quebrar o layout quando esse elemento for escondido */
  align-items: center;
  justify-content: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .nav-desktop {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    font-family: "Dancing Script", cursive;
    justify-content: space-between;
    z-index: 3;
  }

  .bg-white {
    background-color: #fafafa;
  }

  .nav-desktop ul {
    list-style: none;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    height: 100%;
  }

  .nav-desktop li {
    display: inline;
    padding: 15px;
  }

  .nav-desktop a {
    font-size: 34px;
    font-weight: bold;
    color: #6d421c;
    text-decoration: none;
    margin-bottom: 10px;
    height: 100%;
  }

  .twitter-icon {
    background: url("../images/twitter.png") no-repeat center;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .facebook-icon {
    background: url("../images/facebook.png") no-repeat center;
    height: 30px;
    width: 35px;
    margin-right: 10px;
  }
  .instagram-icon {
    background: url("../images/instagram.png") no-repeat center;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .github-icon {
    background: url("../images/github.png") no-repeat center;
    height: 30px;
    width: 30px;
    text-decoration: none;
  }
  .social-links-desktop {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
  }

  .selected:after {
    content: "";
    display: block;
    width: 40px;
    height: 1.5px;
    background: #6d421c;
    margin-top: -2px;
  }

  /* loaded */
  .loader {
    border: 8px solid lightgray;
    border-top: 8px solid #e2a89c;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute; /* para nao quebrar o layout quando esse elemento for escondido */
    align-items: center;
    justify-content: center;
    top: 30%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
