@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-desktop {
    display: none;
}
.footer-desktop {
    display: none;
}
.container {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
}
.close-icon {
    background: url("/img/fechar.png") no-repeat center;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    right: 0;
}
.nav-mobile {
    font-family: "Dancing Script", cursive;
    margin-left: 60px;
    padding-top: 100px;
}
.nav-mobile ul {
    list-style: none;
}
.nav-mobile a {
    font-size: 36px;
    font-weight: bold;
    color: #6D421C;
    text-decoration: none;
    margin-bottom: 10px;
}
.nav-mobile .login-mobile {
    margin-top: 80px;
}
.footer-mobile {
    font-family: "Dancing Script", cursive;
    padding: 0 20px 20px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;

}
.footer-mobile a {
    text-decoration: none;
    color: #6D421C;
    font-size: 32px;
    font-weight: bold;
}
.social-links-mobile {
    height: 30px;
    display: flex;
}
.social-links-mobile a {
    margin-left: 15px;
}
.twitter-icon {
    background: url("/img/twitter.png") no-repeat center;
    
}
.facebook-icon {
    background: url("/img/facebook.png") no-repeat center;
}
.instagram-icon {
    background: url("/img/instagram.png") no-repeat center;
}
.social-links-mobile div {
    width: 35px;
    height: 30px;
}
/*Desktop Version*/
@media (min-width:1024px){
    .nav-mobile {
        display: none;
    }
    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
    }
    .close-icon {
        display: none;
    }
    .container {
        background-color: #ECD5B6;
        width: 100vw;
        height: 100vh;
    }
    .nav-desktop {
        font-family: "Dancing Script", cursive;
        display: flex;
        justify-content: space-between;
    }
    .nav-desktop ul {
        list-style: none;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
    }
    .nav-desktop li {
        display: inline;
        padding: 15px;
        
    }
    .nav-desktop a {
        font-size: 34px;
        font-weight: bold;
        color: #6D421C;
        text-decoration: none;
        margin-bottom: 10px;
    }
    .twitter-icon {
        background: url("/img/twitter.png") no-repeat center;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .facebook-icon {
        background: url("/img/facebook.png") no-repeat center;
        height: 30px;
        width: 35px;
        margin-right: 10px;
    }
    .instagram-icon {
        background: url("/img/instagram.png") no-repeat center;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .github-icon{
        background: url("/img/github.png") no-repeat center;
        height: 30px;
        width: 30px;
        text-decoration: none;
    }
    .social-links-desktop {
        width: 300px;
        height: 30px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 30px;
    }
    .footer-desktop {
        font-family: "Lato", sans-serif;
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .footer-desktop a {
        text-decoration: none;
        color: #6D421C;
    }
   .footer-icons {
       display: flex;
       align-items: center;
       text-decoration: none; 
   }

}